<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload_post</title>
</head>
<body>
<span th:text="${postList}"></span><br>
    <form th:action="@{'/post/update/' + ${postList.id}}" method="post">
        <input type="hidden" name="_method" value="put"/>
        title : <input type="text" th:name="title" th:value="${postList.title}"> <br>
        userid :  <input type="text" th:name="userid" th:value="${postList.userid}"><br>
        content : <input type="text" th:name="content" th:value="${postList.content}"/><br>

        <button  type = "submit">게시글 수정</button>
    </form>

</body>
</html>