<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    (id, title, content, userid) <br>
    <span th:text="${postList}"></span><br>

    <table border="1">
        <th>id</th>
        <th>title</th>
        <th>content</th>
        <th>userid</th>
        <tr th:each = "data : ${postList}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.title}"></td>
            <td th:text="${data.content}"></td>
            <td th:text="${data.userid}"></td>

            <form th:action="@{'/post/sujung/' + ${data.id}}" method="get">
                <td><button type="submit">수정</button></td>
            </form>

            <form th:action="@{'/post/' + ${data.id}}" method="post">
            <td>
                <button type="submit">삭제</button></td>
            </form>

        </tr>
    </table>

<form method = "GET" action ="/post/edit">
    <button type = "submit">post upload</button>
</form>

</body>
</html>