<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="hidden" name="_method" value="put"/>
    title : <span th:text="${postRead.title}"></span><br>
    userid :  <span th:text="${postRead.userid}"></span><br>
    content : <span th:text="${postRead.content}"></span><br>
    <div th:if = "${session.userid} == ${postRead.userid}">
        <form th:action="@{'/post/update/' + ${postRead.id}}" method="get">
            <button type = "submit">수정</button> <br>
        </form>
    </div>
    <div th:if = "${session.userid} == ${postRead.userid}">
         <form th:action="@{'/post/delete/' + ${postRead.id}}" method="GET">
                <button type="submit">삭제</button>
         </form>
    </div>
    <br><br><br>

    <div>
        댓글 목록
    <table border="1">
        <th>id</th>
        <th>title</th>
        <th>comment</th>
        <th>userid</th>
        <tr th:each = "comment : ${commentList}">
            <td th:text= "${comment.id}"></td>
            <td th:text= "${comment.title}"></td>
            <td th:text= "${comment.content}"></td>
            <td th:text= "${comment.userid}"></td>
        </tr>
    </table>
    </div>

    <form th:action="@{'/post/read/' + ${postRead.id} + '/comment/create'}" method="POST">
        title :  <input type = "text" th:name="title"> <br>
        comment :  <input type = "text" th:name="comment"> <br>
        userid :  <input type = "text" th:name="userid"> <br>
        <button type = "submit">댓글 작성하기</button> <br>
    </form>

</body>
</html>