<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="hidden" name="_method" value="put"/>
    title : <span th:text="${postRead.title}"></span><br>
    userid :  <span th:text="${postRead.userid}"></span><br>
    content : <span th:text="${postRead.content}"></span><br>
    <span th:text="${userid}"></span>
    <form th:action="@{'/post/update/' + ${postRead.id}}" method="get">
        <button type = "submit">수정</button> <br>
    </form>

    <form th:action="@{'/post/delete/' + ${postRead.id}}" method="POST">
        <td>
            <button type="submit">삭제</button></td>
    </form>

</body>
</html>