<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment = "configFragment">
    <!--<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title> -->

    <!-- 공통 css파일 -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->

    <!-- 개별 css파일 -->
    <th:block layout:fragment="css"> </th:block>
    <!-- 공통 js-->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

    <!-- content 스크립트 -->
    <th:block layout:fragment="script"> </th:block>
</th:block>
</html>